<template>
<div class=" row">
    <div class="offset-md-2 col-md-8">
      <div>
        <span class="retour" @click="retour"> Retour  </span>
        <div class="card col-md-12" >
          <div class="article-content">
              <h4> {{ currentArticle.post_title }} </h4>
              <i> {{ currentArticle.post_content }}</i>
              <img v-bind:src="currentArticle.post_image" alt="" class="image">
              <h6> Publié le  {{ currentArticle.publicationDate }}</h6>
          </div>
        </div>
      </div>    
    </div>
  </div>
</template>

<script>

import ArticlesDataServices from "../services/ArticlesDataServices";

export default {

  data() {
    return {
      currentArticle: null,
    };
  },
  methods: {
    retrieveArticleById(id) {
      ArticlesDataServices.getById(id)
        .then(response => {
          this.currentArticle = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    retour(){
        this.$router.go(-1);
    }
  },
  mounted() {
    this.retrieveArticleById(this.$route.params.id);
    }
}
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.article-content {
  margin-left: 50px;
  margin-right: 50px;
}
.card {
  padding: 50px;
}
h6 {
  margin-top: 100px;
  margin-left: 60%;
}
.image {
  width: 80%;
  height: auto;
  margin: 30px;
}
</style>