<template>
<div class=" row">
    <div class="offset-md-2 col-md-8">
      <div v-for="(categorie, index) in categories"
            :key="index" class="categorie-box">
        <div class="card content col-md-12" @click="seeCategoryDetails(categorie.id)">
              <div class="categorie-info">
                <h4>{{ categorie.name }}</h4>
                <i>{{ categorie.articles.length }} articles dans cette catégorie</i>
              </div>
        </div>
      </div>    
    </div>
  </div>
</template>

<script>

import CategoryDataServices from "../services/CategoryDataServices";

export default {

  data() {
    return {
      categories: []
    };
  },
  methods: {
    retrieveCategories() {
      CategoryDataServices.getAll()
        .then(response => {
          this.categories = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    seeCategoryDetails(id) {
        this.$router.push({ name: 'categorie-details',params: { id: id } });
    }
  },
  mounted() {
    this.retrieveCategories();
    }
}
</script>

<style>
.content { 
	border-collapse: collapse; 
	margin:10px auto;
  cursor: pointer;
  margin-bottom: 10px!important;
  margin-top: 0px!important;
  }

.content:hover {
	border: 2px solid #3598DC;
	outline: none;
}

.categorie-info {
	margin-left: 10%;
}

.categorie-box {
	margin-bottom: 0px!important;
}
</style>