<template>
<div class=" row">
    <div class="offset-md-2 col-md-8">
      <div>
        <span class="retour" @click="retour"> Retour  </span>
        <div class="card col-md-12" >
          <div class="categorie-content">
              <h4> {{ categorie.name }} </h4>
              <i> {{ categorie.articlec.length }} articles dans cette catégorie</i>
              <div class="card article-item" v-for="(article, index) in categorie.articlec"
            :key="index" @click="seeArticleDetails(article.id)">
                <h4> {{ article.post_title }} </h4>
                <i>Publié le {{ article.publicationDate }}</i>
              </div>
          </div>
        </div>
      </div>    
    </div>
  </div>
</template>

<script>

import CategoryDataServices from "../services/CategoryDataServices";

export default {

  data() {
    return {
      categorie: null,
    };
  },
  methods: {
    retrieveCategoryById(id) {
      CategoryDataServices.getById(id)
        .then(response => {
          this.categorie = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    seeArticleDetails(id) {
        this.$router.push({ name: 'article-details', params: { id: id } });
    },
    retour(){
        this.$router.go(-1);
    },
  },
  mounted() {
    this.retrieveCategoryById(this.$route.params.id);
    }
}
</script>

<style>
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.categorie-content {
  margin-left: 50px;
  margin-right: 50px;
}
.article-item {
  background-color:#F2F7F9!important ;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  }
  .article-item:hover {
  border: 2px solid #3598DC;
	outline: none;
  }
.card {
  padding: 20px;
  margin-top: 20px;
}
h6 {
  margin-top: 100px;
}
.retour:hover {
      text-decoration: underline;
      cursor: pointer;
  }
</style>