<template>
  <div class="row header">
      <div class="col-md-2 top-left" @click="goToHome">
          <img :src="require('@/assets/logo.png')" class="logo">
      </div>
      <div class="col-md-10 top-right">
          <div class="col-md-4 pull-right">
                  <img :src="require('@/assets/quadra.jpg')" class="quadra-icon">
                  <span class="quadra-name">Quadra Diffusion  <font-awesome-icon icon="caret-down" /></span>
          </div>
      </div>
      <div class="col-md-12 banner">
          <div class="banner-content offset-md-2">
              <p class="">Comment pouvons-nous vous aider?</p>
              <div class="input-group">
                    <input type="text" class="form-control input-search col-md-7" 
                    placeholder="Rechercher des réponses..." v-model="expression">
                    <div class="input-group-append">
                    <router-link :to="{ name: 'search', params: { expression: expression }}" tag="button" class="btn btn-secondary">
                        <font-awesome-icon icon="search" /> Rechercher
                    </router-link>
                    </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>

export default {
  name: 'layout',
  data() {
    return {
      expression: ''
    };
  },
   methods: {
    goToHome() {
        this.$router.push({ name: 'categories' });
    }
  }, 
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.top-right {
   background: transparent linear-gradient(270deg, #3598DC 0%, #2079B7 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
   height: 60px;
   padding: 0px !important;
}
.top-left {
   background: transparent linear-gradient(90deg, #2079B7 0%, #3598DC 100%) 0% 0% no-repeat padding-box;
   opacity: 1;
   height: 60px;
   cursor: pointer;
}
.banner {
   height: 150px;
   background: #3598DC 0% 0% no-repeat padding-box;
   opacity: 1
}
.banner-content {
   top: 50p;
}
.input-search {
   width: 100%;
}
.header {
   margin-bottom: 20px;
}
p 
{
   font: normal normal bold 20px/28px Open Sans;
   letter-spacing: 0px;
   color: #FFFFFF;
   opacity: 1;
}
.logo 
{
   width: 60%;
   height: 60%;
   margin-left: 15%;
   margin-top: 5%;
}

.quadra-icon 
{
   height: 60%;
   margin-top: 5%;
   border-radius: 50%;
}

.quadra-name 
{
    font: normal normal normal 14px/19px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 15px;
}

.pull-right 
{
height: 100%;
float: right !important;
}

</style>
