<template>
  <div class=" row">
    <div class="offset-md-2 col-md-8">
      <span class="retour" @click="retour"> Retour  </span>
      <div class="card" >
            <h4> Résultats pour <span>{{ $route.params.expression }}</span> </h4>
            <i> {{ results.length }} résultats...</i>
            <div v-for="(result, index) in results"
            :key="index">
                <div class="card categorie-item " @click="seeCategoryDetails(result.id)" v-if="result.type === 'categorie'">
                    <h4>{{ result.name }} </h4>
                    <i>{{ result.articles.length }} articles dans cette catégorie</i>
                </div>
                <div class="card article-item"  v-if="result.type === 'article'"
                :key="index" @click="seeArticleDetails(result.id)">
                    <h4> {{ result.post_title }} </h4>
                    <i>Article publié le {{ result.publicationDate }}</i>
                </div>
            </div>
      </div>
    </div>
  </div>
</template>

<script>

import ArticlesDataServices from "../services/ArticlesDataServices";

export default {

  data() {
    return {
      results : []
    };
  },
  watch: {
    $route() {
      this.search(this.$route.params.expression);
    }
  },
  methods: {
    search(expression) {
      ArticlesDataServices.search(expression)
        .then(response => {
          this.results = response.data;
        })
        .catch(e => {
          console.log(e);
        });
    },
    seeCategoryDetails(id) {
        this.$router.push({ name: 'categorie-details',params: { id: id } });
    },
    seeArticleDetails(id) {
        this.$router.push({ name: 'article-details', params: { id: id } });
    },
    retour(){
        this.$router.go(-1);
    }
  },
  mounted() {
    this.search(this.$route.params.expression);
    }
}
</script>

<style>

.content { 
	border-collapse: collapse; 
	margin:50px auto;
  align-content: center;
  cursor: pointer;
  }

.content:hover {
	border: 2px solid #3598DC;
	outline: none;
}

.article-item {
  background-color:#F2F7F9!important ;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  }

  .categorie-item {
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  }

  .categorie-item:hover {
    border: 2px solid #3598DC;
	outline: none;
  }

  .article-item:hover {
    border: 2px solid #3598DC;
	outline: none;
  }

  span {
    color: #0978c2;
	font-style: italic;
  }

</style>