<template>
  <div id="app">
    <layout ></layout>
    <router-view></router-view>  
  </div>
</template>

<script>
import Layout from './components/Layout.vue'

export default {
  name: 'App',
  components: {
    Layout
  }
}
</script>

<style>
   #app {
   background: #F2F7F9 0% 0% no-repeat padding-box;
   opacity: 1
}
</style>
